/* Button.css */
.searchButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;/* Button.css */
  .searchButton {
    background-color: rgba(var(--primary-color), 0.15);
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    color: rgba(var(--text-color), 0.8);
  }
  
  .searchButton:hover {
    background-color: rgba(var(--primary-color), 0.35);
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    color: rgba(var(--text-color), 0.9);
  }
  
  .favoriteButton {
    background-color: #ffc107;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .favoriteButton:hover {
    background-color: #ffcd39;
  }
  
  .unfavoriteButton {
    background-color: #f0f0f0;
    color: red;
    border: none;
    cursor: pointer;
  }
  
  .unfavoriteButton:hover {
    color: darkred;
  }
  
}

.searchButton:hover {
  background-color: #0056b3;
}

.favoriteButton {
  background-color: #ffc107;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.favoriteButton:hover {
  background-color: #ffcd39;
}

/* Search.css */
.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center items horizontally and vertically */
  margin-top: 50px;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  margin: auto; /* Center the search bar horizontally */
}

.searchResultContainer {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
  background-color: #f0f0f0;
  text-align: center;
  display: flex; /* Change to flex */
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.searchResultContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}


.heartIcon {
  color: red;
  font-size: 24px;
  cursor: pointer;
}

.heartIcon:hover {
  color: darkred;
}


.unfavoriteButton {
  background-color: #9d8a8a;
  color: red;
  border: none;
  cursor: pointer;
}

.unfavoriteButton:hover {
  color: darkred;
}
